<div class="ntfy-er">
  <div class="msgbar">
    <input class="ntfy-msg" id="ntfy-msg" placeholder="">
    <button class="submit" onclick="javascript:sendNotification()">send ts</button>
  </div>
</div>

<script>


//   stolen from azumanga.gay lel

//   stolen ntfy script
  function send(message) {
    let r = new XMLHttpRequest()
    r.open("POST", "https://ntfy.anins1der.com/website-en", true)
    r.setRequestHeader("Content-Type", "text/plain")
    r.send(message)
  }

// send notification
  let ntfyInput = document.getElementById("ntfy-msg")
  function sendNotification() {
    if (ntfyInput.value.length <= 0) return
    send(ntfyInput.value)
    ntfyInput.value = ""
  }
</script>

<style>
  .ntfy-er {
    position: relative;
    flex: 1 1 auto;
    min-width: 0;
  }

  .msgbar {
    position: relative;
    display: flex;
    width: 100%;
  }

  .submit {
    margin-left: .25rem;
    flex: 0 0 auto;
  }
</style>
