// tries to get rounded banners on blog pages
    
body.has-banner {
	background-image: var(--bg-overlay), var(--blurnail);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

#banner {
	--mask: linear-gradient(black calc(100% - 2rem), transparent);
	-webkit-mask-image: var(--mask);
	display: flex;
	grid-area: banner;
	justify-content: center;
	mask-image: var(--mask);
	margin-block-end: -2rem;
	padding-block: 3rem 2rem;
	width: 100%;

	div {
		position: relative;
		margin-inline: 1rem;
		aspect-ratio: 2 / 1;
		width: 100%;
		max-width: var(--content-width);
	}

	img {
		position: absolute;
		margin: 0;
		inset: 0;
		border-radius: var(--rounded-corner) !important;
		// border-radius: var(--rounded-corner) var(--rounded-corner) 0 0 !important;
		aspect-ratio: 2 / 1;
		width: 100%;
		object-fit: cover;
	}

	img:nth-of-type(1) {
		opacity: var(--dim-opacity);
		z-index: -1;
		filter: blur(1.5rem);
		animation: banner-glow-load calc(0.525s + var(--transition-long));
		inset-block-start: 1rem;

		@keyframes banner-glow-load {
			from,
			52.5% {
				opacity: 0;
			}
		}
	}

	img:nth-of-type(2) {
		transform-origin: bottom;
		animation: banner-load calc(0.525s + var(--transition-longer));

		@keyframes banner-load {
			from,
			52.5% {
				transform: var(--active);
				opacity: 0;
				filter: blur(0.75rem);
			}
		}
	}

	& + #main-content {
		padding-block-start: 0;

		article > h1:first-of-type,
		h1:first-of-type {
			margin-inline: -1rem;
			margin-block: 0;
			// border-radius: var(--rounded-corner) var(--rounded-corner) 0 0;
			border-radius: var(--rounded-corner);
			padding: 1rem;
			width: unset;
			-webkit-backdrop-filter: blur(1rem);
			backdrop-filter: blur(1rem);
			text-decoration: none;
		}
	}
}
